@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Roboto:wght@100;300;400;500;700;900&family=Shadows+Into+Light&family=Water+Brush&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
}

nav>ul {
  background-color: #00bdfe;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  padding: 0 3rem;
}

nav>ul>li {
  margin: 0 20px;
}

nav>button {
  border: 1px solid #00bdfe;
  border-radius: 10px;
  padding: 15px 25px;
  color: #00bdfe;
  background-color: white;
  transition: 0.5s ease all;
}

nav>button:hover {
  background-color: #00bdfe;
  color: white;
}

.burger_menu {
  display: none;
  font-size: 1.4rem;
  color: #00bdfe;
}

header {
  background-image: url(https://templatemo.com/templates/templatemo_576_snapx_photography/assets/images/banner-bg.jpg);
  background-position: center;
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.header_info {
  max-width: 1000px;
  color: white;
  text-align: center;
}

.header_info>h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.line {
  background-color: gray;
  height: 1px;
}

.header_info>p {
  margin: 3rem 0 4rem 0;
}

.btn_container>button:nth-child(1) {
  padding: 15px 25px;
  background: transparent;
  border: solid white;
  color: white;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
}

.btn_container>button:nth-child(1):hover {
  background-color: white;
  color: #00bdfe;
}

.btn_container>button:nth-child(2) {
  all: unset;
  cursor: pointer;
  transition: 0.5s ease;
}

.btn_container>button:nth-child(2):hover {
  color: #00bdfe;
}

.profile_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: -80px;
  flex-wrap: wrap;
}

.profile_container>article {
  width: 400px;
  height: 300px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.profile_container>article>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile_overlay {
  position: absolute;
  width: 100%;
  height: 0;
  background-color: rgba(245, 245, 245, 0.764);
  bottom: 0;
  z-index: 2;
  transition: 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.profile_container>article:hover .profile_overlay {
  height: 100%;
}

.profile_overlay>h2 {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #00bdfe;
}

.profile_overlay>ul {
  list-style: none;
}

.profile_overlay>ul>li {
  margin: 1rem 0;
}

.fotos_section {
  padding: 2rem 0;
}

.categories_title {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: flex-start;
}

.left_title>p {
  color: #00bdfe;
  margin-bottom: 13px;
}

.categories_title>button {
  padding: 15px 30px;
  border-radius: 8px;
  color: white;
  background-color: #00bdfe;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #00bdfe;
  transition: 0.5s ease;
}

.categories_title>button:hover {
  color: #00bdfe;
  background-color: white;
}

.foto_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.foto_block {
  border: 1px solid rgb(205, 205, 205);
  max-width: 320px;
  padding: 1.5rem;
  border-radius: 10px;
  margin: 1rem;
  min-height: 450px;
}

.foto_title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.foto_title>img {
  background-color: rgb(247, 246, 246);
  padding: 13px 10px;
  border-radius: 5px;
  margin-right: 2rem;
}

.foto_name>h3 {
  margin-bottom: 13px;
}

.foto_name>p {
  color: gray;
}

.contest {
  margin-top: 1rem;
}

.foto_name>p>span {
  color: #00bdfe;
  background-color: white;
  padding: 7px 10px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 6%);
  margin-right: 8px;
  border-radius: 10px;
}

.foto {
  margin: 1.5rem 0;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease all;
}

.foto:hover .likes {
  transition: 0.5s ease all;
  top: 15px;
}

.likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: -50px;
  padding: 0 1rem;
  overflow: hidden;
  transition: 0.2s ease all;
}

.likes>p {
  padding: 12px;
  background-color: white;
  border-radius: 12px;
  font-size: 14px;
  color: #00bdfe;
  font-weight: 600;
  cursor: pointer;
}

.foto>img {
  border-radius: 12px;
  width: 100%;
}

.foto_block>button {
  width: 100%;
  padding: 20px;
  border: 1px solid #00bdfe;
  border-radius: 7px;
  background-color: white;
  color: #00bdfe;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease;
}

.foto_block>button:hover {
  background-color: #00bdfe;
  color: white;
}

/*CORUSEL SECTION STYLES */
/*note: no media queries used*/
.corusel_section {
  background-image: url(https://templatemo.com/templates/templatemo_576_snapx_photography/assets/images/closed-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 5rem 1rem;
}

.corusel_section>p {
  color: #00bdfe;
  margin-bottom: 1rem;
}

.corusel_section>h2 {
  font-size: 1.7rem;
}

.corusel_section>main {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 4rem 0 1rem 0;
}

.winner_card {
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.winner_img {
  position: relative;
}

.winner_img>img {
  width: 100%;
  height: 100%;
}

.winner_overlay {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  top: -40px;
  transition: 0.2s ease;
}

.winner_overlay>p {
  padding: 10px;
  background-color: white;
  font-size: 14px;
  border-radius: 10px;
}

.winner_card:hover .winner_overlay {
  top: 30px;
  transition: 0.5s ease;
}

.winner_info {
  padding: 2rem 1rem;
}

.winner_info div {
  display: flex;
  justify-content: space-between;
}

.winner_info div>p {
  color: grey;
}

.winner_info>div:nth-child(1) {
  margin-bottom: 13px;
}

.corusel_section>button {
  all: unset;
  border: 1px solid #00bdfe;
  padding: 12px 20px;
  border-radius: 10px;
  color: #00bdfe;
  transition: 0.5s ease all;
  cursor: pointer;
}

.corusel_section>button:hover {
  background-color: #00bdfe;
  color: white;
}

/*CORUSEL SECTION STYLES */

/*Price SECTION STYLES */
.price_section {
  text-align: center;
  padding: 5rem 1rem;
}

.price_section>p {
  font-size: 13px;
  color: #00bdfe;
  margin-bottom: 1em;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.price {
  border: 1px solid gray;
  max-width: 400px;
  padding: 20px 2.5rem;
  border-radius: 12px;
  color: #00bdfe;
  transition: .5s ease;
}

.price:hover {
  border: 1px solid transparent;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 6%);
}

.price>h4 {
  margin: 1rem 0;
  color: black;
  transition: .5s ease;
}

.price>h4:hover {
  color: #00bdfe;
}


.price>ul {
  margin: 2rem 0;
  list-style: none;

}

.price>ul>li {
  margin-top: 10px;
}

.price>button {
  all: unset;
  color: #00bdfe;
  padding: 10px 25px;
  margin-top: 1rem;
  border-radius: 10px;
  border: 1px solid #00bdfe;
  transition: .5s ease;
  cursor: pointer;

}

.price>button:hover {
  background-color: #00bdfe;
  color: white;
}

.no-plan {
  text-decoration: line-through;
  color: rgb(170, 167, 167);
}

footer {
  padding: 2rem 1rem;
  text-align: center;
  background-color: #00bdfe;
  color: rgb(230, 226, 226);
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: white;
}

/*Price SECTION STYLES */




@media only screen and (max-width: 1300px) {

  .profile_container>article:nth-child(2),
  .profile_container>article:nth-child(3) {
    display: none;
  }

  .profile_container>article:nth-child(1) {
    width: 800px;
    height: 500px;
  }
}

@media only screen and (max-width: 900px) {
  nav>ul {
    display: none;
  }

  .burger_menu {
    display: block;
  }

  .fotos_section {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 500px) {
  nav>button {
    display: none;
  }

  .header_info>h1 {
    font-size: 2rem;
  }

  .profile_container {
    top: -10px;
    padding: 0 1rem;
  }

  .categories_title {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .categories_title>button {
    margin-top: 1rem;
  }
}